<nz-content
  class="content"
  style="background:#fff;margin-top: 20px; padding: 24px; min-height: 100vh ; display: flex; justify-content: center ; "
>
  <div style="width: 90%; overflow: scroll;">
    <div style="display: flex; ">
      <nz-form-control
        *ngIf="projects.length > 0"
        style="width: 40%;margin-bottom: 10px"
      >
        <nz-select
          nzShowSearch
          nzPlaceHolder="Select a person"
          [(ngModel)]="selectedProject"
          style="width: 100%"
        >
          <nz-option
            *ngFor="let item of projects"
            nzValue="{{ item.id }}"
            nzLabel="{{ item.name }}"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
      <div style="padding: 4px 0 0 5px; width: 20%;">
        <button
          nz-button
          style="width: 100%; "
          (click)="search()"
          nzType="primary"
          [disabled]="!selectedProject.length > 0"
        >
          Create Document
        </button>
      </div>
    </div>

    <div style="margin-top:20px; ">
      <nz-table
        #nzTable
        [nzNoResult]="'No Result'"
        [nzData]="displayData"
        [nzPageSize]="10"
        [nzLoading]="loadingTable"
      >
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th nzShowSort nzSortKey="name">
              Document Name
            </th>
            <th>Type</th>
            <th>Status</th>
            <th nzShowSort nzSortKey="role">Role</th>

            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
              <td style="width: 300px">{{ data.name }}</td>
              <td style="width: 300px">{{ data.type }}</td>
              <td style="width: 300px">{{ handleStatus(data.status) }}</td>
              <td style="width: 300px">{{ data.role }}</td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-content>
