<nz-content
  class="content"
  style="background:#fff;margin-top: 20px; padding: 24px; min-height: 100vh ; display: flex; justify-content: center ; "
>
  <div style="width: 90% ; display: flex; justify-content: center;">
    <div  > 
      <nz-upload
        [nzLimit]="2"
        [(nzFileList)]="fileList"
        [nzBeforeUpload]="beforeUpload"
      >
        <button nz-button>
          <i nz-icon type="upload"></i><span>Select File</span>
        </button>
      </nz-upload>
      <button
        nz-button
        [nzType]="'primary'"
        [nzLoading]="uploading"
        (click)="handleUpload()"
        [disabled]="fileList.length == 0"
        style="margin-top: 16px"
      >
        {{ uploading ? "Uploading" : "Start Upload" }}
      </button>
      <div style="margin-top:20px">
        <nz-alert
          style="margin:2px"
          *ngFor="let error of errors"
          nzType="error"
          nzMessage="{{ error }}"
          nzShowIcon
        ></nz-alert>
      </div>
    </div>
  </div>
</nz-content>
