<nz-content
  class="content"
  style="background:#fff;margin-top: 20px; padding: 24px; min-height: 100vh ; display: flex; justify-content: center ; "
>
  <div style="width: 90%">
    <button
      *ngIf="projectRole === 'qao'"
      style="margin-right:10px"
      nz-button
      nzType="primary"
      (click)="createDocument()"
    >
      Create Document
    </button>

    <div *ngIf="qaoList.length > 0">
      <h2 style="text-align:center">QAO</h2>
      <nz-collapse nzAccordion>
        <nz-collapse-panel
          *ngFor="let data of qaoList; let i = index"
          [nzHeader]="data.name"
          [nzActive]="data.id == paramId"
          (nzActiveChange)="activeCol(data.id, 'uploader')"
        >
          <form #projectForm="ngForm">
            <nz-form-item>
              <nz-form-control style="margin-top:10px">
                <label class="label">Document Name : </label>
                <input
                  [(ngModel)]="document.data.name"
                  nz-input
                  name="name"
                  required
                  [disabled]="!document?.permission?.info"
                />
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Status : </label>
                <nz-steps
                  [nzCurrent]="handleStep(document.data.status)"
                  nzSize="small"
                >
                  <nz-step nzTitle="Waiting Reviewer"></nz-step>
                  <nz-step nzTitle="On Going"></nz-step>
                  <nz-step nzTitle="Waiting QAM"></nz-step>
                  <nz-step nzTitle="On Going"></nz-step>
                  <nz-step nzTitle="Public"></nz-step>
                </nz-steps>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Description : </label>
                <textarea
                  [(ngModel)]="document.data.description"
                  name="description"
                  rows="4"
                  nz-input
                  [disabled]="!document?.permission?.info"
                ></textarea>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Type : </label>
                <nz-select
                  [disabled]="!document?.permission?.info"
                  [(ngModel)]="document.data.type"
                  name="projectType"
                  style="width: 100%;"
                  nzLoading
                >
                  <nz-option
                    nzValue="process template"
                    nzLabel="Process Template"
                  ></nz-option>
                  <nz-option
                    nzValue="checklist"
                    nzLabel="Checklist"
                  ></nz-option>
                  <nz-option nzValue="standard" nzLabel="Standard"></nz-option>
                  <nz-option
                    nzValue="best practice"
                    nzLabel="Best Practice"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-control>
                File:
                <a
                  target="_blank"
                  href={{document?.data?.file}}
                >
                  {{ document?.data?.name }}_version{{document?.data?.version}}
                </a>
              </nz-form-control>
              <nz-form-control
                *ngIf="document.permission.file || document.permission.reviewer"
                style="margin-top:10px"
              >
                <label class="label"> Add File</label>
                <div>
                  <nz-upload
                    [nzLimit]="0"
                    [(nzFileList)]="fileList"
                    [nzBeforeUpload]="beforeUpload"
                  >
                    <button nz-button>
                      <i nz-icon type="upload"></i><span>Select File</span>
                    </button>
                  </nz-upload>
                  <button
                    nz-button
                    [nzType]="'primary'"
                    [nzLoading]="uploading"
                    (click)="handleUpload()"
                    [disabled]="fileList.length == 0"
                    style="margin-top: 16px"
                  >
                    {{ uploading ? "Uploading" : "Start Upload" }}
                  </button>
                </div>
              </nz-form-control>
              <nz-form-control>
                <label class="label"> Reviewer</label>
                <nz-select
                  [disabled]="!document?.permission?.reviewer"
                  [(ngModel)]="document.reviewer.id"
                  name="reviewer"
                  style="width: 100%;"
                >
                  <nz-option
                    *ngFor="let item of document.reviewers"
                    nzValue="{{ item.id }}"
                    nzLabel="{{ item.name }}"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Comment</label>
                <div
                  style="width: 100%; padding: 0 5rem; max-height: 200px; overflow: scroll;"
                >
                  <nz-list
                    [nzDataSource]="document.data.comments"
                    [nzRenderItem]="item"
                    [nzItemLayout]="'horizontal'"
                    [nzLoading]="loading"
                  >
                    <ng-template #item let-item>
                      <nz-list-item>
                        <nz-list-item-meta
                          [nzTitle]="item.user"
                          nzDescription="{{ item.content }}"
                        >
                          <ng-template #nzTitle> </ng-template>
                        </nz-list-item-meta>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
                </div>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <textarea
                  [(ngModel)]="comment"
                  name="comment"
                  rows="4"
                  nz-input
                ></textarea>
              </nz-form-control>
              <div
                style="margin-top: 25px; display: flex; justify-content: space-between"
              >
                <div class="left">
                  <button
                    (click)="sendComment('uploader')"
                    nz-button
                    nzType="default"
                    [nzLoading]="uploading"
                  >
                    Comment
                  </button>
                </div>
                <div class="right">
                  <button
                    style="margin-right:10px"
                    nz-button
                    nzType="primary"
                    (click)="approve('uploader')"
                    [nzLoading]="uploading"
                  >
                    Approve
                  </button>
                  <button
                    nz-button
                    nzType="danger"
                    (click)="discard('uploader')"
                    [nzLoading]="uploading"
                  >
                    Reject
                  </button>
                </div>
              </div>
            </nz-form-item>
          </form>
        </nz-collapse-panel>
      </nz-collapse>
    </div>

    <div *ngIf="qamList.length > 0">
      <h2 style="text-align:center">QAM</h2>
      <nz-collapse nzAccordion>
        <nz-collapse-panel
          *ngFor="let data of qamList; let i = index"
          [nzHeader]="data.name"
          [nzActive]="data.id == paramId"
          (nzActiveChange)="activeCol(data.id, 'qam')"
        >
          <form #projectForm="ngForm">
            <button
              *ngIf="document?.permission?.info"
              style="margin-right:10px"
              nz-button
              nzType="primary"
              (click)="editDocument()"
            >
              Edit Document
            </button>
            <nz-form-item>
              <nz-form-control style="margin-top:10px">
                <label class="label">Document Name : </label>

                <input
                  [(ngModel)]="document.data.name"
                  nz-input
                  name="name"
                  required
                  [disabled]="!document?.permission?.info"
                />
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Status : </label>
                <nz-steps
                  [nzCurrent]="handleStep(document.data.status)"
                  nzSize="small"
                >
                  <nz-step nzTitle="Waiting Reviewer"></nz-step>
                  <nz-step nzTitle="On Going"></nz-step>
                  <nz-step nzTitle="Waiting QAM"></nz-step>
                  <nz-step nzTitle="On Going"></nz-step>
                  <nz-step nzTitle="Public"></nz-step>
                </nz-steps>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Description : </label>
                <textarea
                  [(ngModel)]="document.data.description"
                  name="description"
                  rows="4"
                  nz-input
                  [disabled]="!document?.permission?.info"
                ></textarea>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Type : </label>
                <nz-select
                  [(ngModel)]="document.data.type"
                  name="projectType"
                  style="width: 100%;"
                  nzLoading
                  [disabled]="!document?.permission?.info"
                >
                  <nz-option
                    nzValue="process template"
                    nzLabel="Process Template"
                  ></nz-option>
                  <nz-option
                    nzValue="checklist"
                    nzLabel="Checklist"
                  ></nz-option>
                  <nz-option nzValue="standard" nzLabel="Standard"></nz-option>
                  <nz-option
                    nzValue="best practice"
                    nzLabel="Best Practice"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-control>
                File:
                <a
                target="_blank"
                href={{document?.data?.file}}
              >
                {{ document?.data?.name }}_version{{document?.data?.version}}
              </a>
              </nz-form-control>
              <nz-form-control
                *ngIf="document.permission.file || document.permission.reviewer"
                style="margin-top:10px"
              >
                <label class="label"> Add File</label>

                <div>
                  <nz-upload
                    [nzLimit]="0"
                    [(nzFileList)]="fileList"
                    [nzBeforeUpload]="beforeUpload"
                  >
                    <button nz-button>
                      <i nz-icon type="upload"></i><span>Select File</span>
                    </button>
                  </nz-upload>
                  <button
                    nz-button
                    [nzType]="'primary'"
                    [nzLoading]="uploading"
                    (click)="handleUpload()"
                    [disabled]="fileList.length == 0"
                    style="margin-top: 16px"
                  >
                    {{ uploading ? "Uploading" : "Start Upload" }}
                  </button>
                </div>
              </nz-form-control>
              <nz-form-control>
                <label class="label"> Reviewer</label>
                <nz-select
                  [disabled]="!document?.permission?.reviewer"
                  [(ngModel)]="document.reviewer.id"
                  name="reviewer"
                  style="width: 100%;"
                >
                  <nz-option
                    *ngFor="let item of document.reviewers"
                    nzValue="{{ item.id }}"
                    nzLabel="{{ item.name }}"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Comment</label>
                <div
                  style="width: 100%; padding: 0 5rem; max-height: 200px; overflow: scroll;"
                >
                  <nz-list
                    [nzDataSource]="document.data.comments"
                    [nzRenderItem]="item"
                    [nzItemLayout]="'horizontal'"
                    [nzLoading]="loading"
                  >
                    <ng-template #item let-item>
                      <nz-list-item>
                        <nz-list-item-meta
                          [nzTitle]="item.user"
                          nzDescription="{{ item.content }}"
                        >
                          <ng-template #nzTitle> </ng-template>
                        </nz-list-item-meta>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
                </div>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <textarea
                  [(ngModel)]="comment"
                  name="comment"
                  rows="4"
                  nz-input
                ></textarea>
              </nz-form-control>
              <div
                style="margin-top: 25px; display: flex; justify-content: space-between"
              >
                <div class="left">
                  <button
                    (click)="sendComment('qam')"
                    nz-button
                    nzType="default"
                    [nzLoading]="uploading"
                  >
                    Comment
                  </button>
                </div>
                <div class="right">
                  <button
                    style="margin-right:10px"
                    nz-button
                    nzType="primary"
                    (click)="approve('qam')"
                    [nzLoading]="uploading"
                  >
                    Approve
                  </button>
                  <button nz-button nzType="danger" (click)="discard('qam')" [nzLoading]="uploading" >
                    Reject
                  </button>
                </div>
              </div>
            </nz-form-item>
          </form>
        </nz-collapse-panel>
      </nz-collapse>
    </div>

    <div *ngIf="reviewerList.length > 0">
      <h2 style="text-align:center">REVIEWER</h2>
      <nz-collapse nzAccordion>
        <nz-collapse-panel
          *ngFor="let data of reviewerList; let i = index"
          [nzHeader]="data.name"
          [nzActive]="data.id == paramId"
          (nzActiveChange)="activeCol(data.id, 'reviewer')"
        >
          <form #projectForm="ngForm">
            <button
              *ngIf="document?.permission?.info"
              style="margin-right:10px"
              nz-button
              nzType="primary"
              (click)="editDocument()"
            >
              Edit Document
            </button>
            <nz-form-item>
              <nz-form-control style="margin-top:10px">
                <label class="label">Document Name : </label>
                <input
                  [(ngModel)]="document.data.name"
                  nz-input
                  name="name"
                  required
                  [disabled]="!document?.permission?.info"
                />
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Status : </label>
                <nz-steps
                  [nzCurrent]="handleStep(document.data.status)"
                  nzSize="small"
                >
                  <nz-step nzTitle="Waiting Reviewer"></nz-step>
                  <nz-step nzTitle="On Going"></nz-step>
                  <nz-step nzTitle="Waiting QAM"></nz-step>
                  <nz-step nzTitle="On Going"></nz-step>
                  <nz-step nzTitle="Public"></nz-step>
                </nz-steps>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Description : </label>
                <textarea
                  [(ngModel)]="document.data.description"
                  name="description"
                  rows="4"
                  nz-input
                  [disabled]="!document?.permission?.info"
                ></textarea>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Type : </label>
                <nz-select
                  [(ngModel)]="document.data.type"
                  name="projectType"
                  style="width: 100%;"
                  nzLoading
                  [disabled]="!document?.permission?.info"
                >
                  <nz-option
                    nzValue="process template"
                    nzLabel="Process Template"
                  ></nz-option>
                  <nz-option
                    nzValue="checklist"
                    nzLabel="Checklist"
                  ></nz-option>
                  <nz-option nzValue="standard" nzLabel="Standard"></nz-option>
                  <nz-option
                    nzValue="best practice"
                    nzLabel="Best Practice"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-control>
                File:
                <a
                  target="_blank"
                  href={{document?.data?.file}}
                >
                  {{ document?.data?.name }}_version{{document?.data?.version}}
                </a>
              </nz-form-control>
              <nz-form-control
                *ngIf="document.permission.file || document.permission.reviewer"
                style="margin-top:10px"
              >
                <label class="label"> Add File</label>

                <div>
                  <nz-upload
                    [nzLimit]="0"
                    [(nzFileList)]="fileList"
                    [nzBeforeUpload]="beforeUpload"
                  >
                    <button nz-button>
                      <i nz-icon type="upload"></i><span>Select File</span>
                    </button>
                  </nz-upload>
                  <button
                    nz-button
                    [nzType]="'primary'"
                    [nzLoading]="uploading"
                    (click)="handleUpload()"
                    [disabled]="fileList.length == 0"
                    style="margin-top: 16px"
                  >
                    {{ uploading ? "Uploading" : "Start Upload" }}
                  </button>
                </div>
              </nz-form-control>
              <nz-form-control>
                <label class="label"> Reviewer</label>
                <nz-select
                  [disabled]="!document?.permission?.reviewer"
                  [(ngModel)]="document.reviewer.id"
                  name="reviewer"
                  style="width: 100%;"
                >
                  <nz-option
                    *ngFor="let item of document.reviewers"
                    nzValue="{{ item.id }}"
                    nzLabel="{{ item.name }}"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <label class="label">Comment</label>
                <div
                  style="width: 100%; padding: 0 5rem; max-height: 200px; overflow: scroll;"
                >
                  <nz-list
                    [nzDataSource]="document.data.comments"
                    [nzRenderItem]="item"
                    [nzItemLayout]="'horizontal'"
                    [nzLoading]="loading"
                  >
                    <ng-template #item let-item>
                      <nz-list-item>
                        <nz-list-item-meta
                          [nzTitle]="item.user"
                          nzDescription="{{ item.content }}"
                        >
                          <ng-template #nzTitle> </ng-template>
                        </nz-list-item-meta>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
                </div>
              </nz-form-control>
              <nz-form-control style="margin-top:10px">
                <textarea
                  [(ngModel)]="comment"
                  name="comment"
                  rows="4"
                  nz-input
                ></textarea>
              </nz-form-control>
              <div
                style="margin-top: 25px; display: flex; justify-content: space-between"
              >
                <div class="left">
                  <button
                    (click)="sendComment('reviewer')"
                    nz-button
                    nzType="default"
                    [nzLoading]="uploading"
                  >
                    Comment
                  </button>
                </div>
                <div class="right">
                  <button
                    style="margin-right:10px"
                    nz-button
                    nzType="primary"
                    (click)="approve('reviewer')"
                    [nzLoading]="uploading"
                  >
                    Approve
                  </button>
                  <button
                    nz-button
                    nzType="danger"
                    (click)="discard('reviewer')"
                    [nzLoading]="uploading"
                  >
                    Reject
                  </button>
                </div>
              </div>
            </nz-form-item>
          </form>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
</nz-content>
