<nz-layout class="layout" [ngStyle]="{ 'min-height': '100vh' }">
  <nz-header style="background:linear-gradient(75deg, #c02425, #f0cb35);">
    <div class="logo"></div>
    <div class="navigation-container">
      <ul
        nz-menu
        [nzTheme]="'dark'"
        [nzMode]="'horizontal'"
        style="line-height: 64px; background-color: transparent"
      >
        <li>
          <nz-dropdown [nzTrigger]="'click'">
            <a nz-dropdown> {{ me?.name }} <i nz-icon type="down"></i> </a>
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item (click)="logout()">
                Logout
              </li>
            </ul>
          </nz-dropdown>
        </li>
      </ul>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li
          *ngIf="me?.role === 'admin'"
          routerLinkActive="ant-menu-item-selected"
          nz-menu-item
        >
          <a [routerLink]="['/main/admin/add-new-account']">
            <span title><i nz-icon type="user"></i> Add New Account</span>
          </a>
        </li>
        <li
          *ngIf="me?.role === 'admin'"
          nz-menu-item
          routerLinkActive="ant-menu-item-selected"
        >
          <a [routerLink]="['/main/admin/import-list-account']">
            <span title><i nz-icon type="user"></i> Import List Account</span>
          </a>
        </li>
        <li
          *ngIf="me?.role === 'admin'"
          nz-menu-item
          routerLinkActive="ant-menu-item-selected"
        >
          <a [routerLink]="['/main/admin/manage-account']">
            <span title><i nz-icon type="user"></i> Manage Account</span>
          </a>
        </li>
        <li nz-menu-item routerLinkActive="ant-menu-item-selected">
          <a [routerLink]="['/main/pm/manage-projects']">
            <span title><i nz-icon type="user"></i> Projects</span>
          </a>
        </li>
        <li
          *ngIf="me?.role !== 'admin'"
          nz-menu-item
          routerLinkActive="ant-menu-item-selected"
        >
          <a [routerLink]="['/main/pm/manage-projects/view/all-document']">
            <span title><i nz-icon type="user"></i> Documents</span>
          </a>
        </li>
        <li
          *ngIf="me?.role !== 'admin'"
          nz-menu-item
          routerLinkActive="ant-menu-item-selected"
        >
          <a [routerLink]="['/main/pm/manage-projects/view/public-document']">
            <span title><i nz-icon type="user"></i> Public Documents</span>
          </a>
        </li>
        <li
          *ngIf="me?.role === 'admin'"
          nz-menu-item
          routerLinkActive="ant-menu-item-selected"
        >
          <a [routerLink]="['/main/admin/manage-projects/add']">
            <span title><i nz-icon type="user"></i> Create Project</span>
          </a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <router-outlet></router-outlet>
    </nz-layout>
  </nz-layout>
</nz-layout>
