<nz-content
  class="content"
  style="background:#fff;margin-top: 20px; padding: 24px; min-height: 100vh ; display: flex; justify-content: center ; "
>
  <div style="width: 90%; overflow: scroll;">
    <div>
      <button *ngIf="me?.role == 'qao'" (click)="addAuditPlan()" nz-button nzType="primary">
        Add Audit Plan
      </button>
      <nz-form-control>
        <label class="label"> </label>
      </nz-form-control>
    </div>
    <div style="margin-top:20px; ">
      <nz-table
        #nzTable
        [nzNoResult]="'No Result'"
        [nzData]="displayData"
        [nzPageSize]="10"
        [nzLoading]="loadingTable"
        #filterTable
      >
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th nzShowSort nzSortKey="index">
              STT
            </th>
            <th nzShowSort nzSortKey="name">Audit Name</th>
            <th nzShowSort nzSortKey="description">Description</th>
            <th nzShowSort nzSortKey="owner">Owner</th>
            <th nzShowSort nzSortKey="created_at">Created_at</th>
            <th nzShowSort nzSortKey="project">Project</th>
            <th nzShowSort nzSortKey="status">Status</th>

            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
              <td>{{ data.index + 1 }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.description }}</td>
              <td>{{ data.owner }}</td>
              <td>{{ data.created_at }}</td>

              <td>
                {{ data.project }}
              </td>
              <td>
                {{ handleStatus(data.status) }}
              </td>
              <td>
                <button
                  (click)="navigateEdit(data.id)"
                  nz-button
                  nzType="primary"
                  nzGhost
                >
                  Edit
                </button>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-content>
