<nz-content
  class="content"
  style="background:#fff;margin-top: 20px; padding: 24px; min-height: 100vh ; display: flex; justify-content: center ; "
>
  <div style="width: 90%; overflow: scroll;">
    <div style="margin-top:20px; ">
      <nz-table
        #nzTable
        [nzNoResult]="'No Result'"
        [nzData]="displayData"
        [nzPageSize]="25"
        [nzLoading]="loadingTable"
        #filterTable
      >
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th nzShowSort nzSortKey="name">
              Project Name
            </th>
            <th nzShowSort nzSortKey="description">Description</th>
            <th nzShowSort nzSortKey="version">Version</th>
            <th nzShowSort nzSortKey="type">Type</th>
            <th>Status</th>
            <th>File</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="nzTable.data">
            <tr>
              <td>{{ data.name }}</td>
              <td>{{ data.description }}</td>
              <td>{{ data.version }}</td>
              <td>{{ data.type }}</td>
              <td>{{ data.status }}</td>
              <td>
                <a target="_blank" href="{{ data.file }}">
                  Download
                </a>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-content>
